.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 35px;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .icon {
    color: white;
    font-size: 48px;
  }
  
  .phone {
    margin: 0;
    font-size: 24px;
  }

  .createdby {
    color: #3f3f3f;
    margin: 0;
    font-size: 18px;
  }

  .createdbylink {
    font-size: 18px;
    text-decoration: underline;
    color: #525252;
  }