* {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
    font-weight: 1000;
    font-size: 14px;
}


@media screen and (min-width: 800px) {
    .Header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        color: #000000;
        transition: 0.6s ease;
    }
    
    .Header:hover {
        transition: 0.6s ease;
    }

    .logo {
        position: absolute;
        top: 5%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 150px;
        height: 150px;
        transition: 0.6s ease;
    }

    .logo:hover {
        transition: 0.6s ease;
    }

    .logo_list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        transition: 0.6s ease;
    }

    .leftnav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 70%;
        padding-top: 15px;
        padding-right: 15%;
        transition: 0.6s ease;
    }

    .rightnav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
        padding-top: 15px;
        padding-left: 15%;
        transition: 0.6s ease;
    }

    .logo_list ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        list-style: none;
        transition: 0.6s ease;
    }

    .rightnav ul li {
        position: flex;
        margin: 0;
        border-right: 100px solid rgba(0, 0, 0, 0);
        transition: 0.6s ease;
    }

    .leftnav ul {
        display: flex;
        padding-right: 2rem;
        transition: 0.6s ease;
    }

    .leftnav ul li {
        position: flex;
        margin: 0;
        border-left: 100px solid rgba(0, 0, 0, 0);
        transition: 0.6s ease;
    }

    .logo_list ul li a {
        color: white;
        text-decoration: none;
        position: relative;
        transition: color 0.3s ease;
    }

    .logo_list ul li a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: white;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: bottom right;
    }

    .logo_list ul li a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .logo_list ul li a:hover {
        color: white;
    }

    .logo_list ul li a:hover::after {
        color: white;
        text-decoration: none;
        transition: 0.6s ease;
    }
}

@media screen and (min-width: 430px) and (max-width: 800px) {
    .Header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 8vh;
        z-index: 10;
        background-color: rgb(0, 0, 0) !important;
    }

    .logo {
        width: auto !important;
        height: 70% !important;
        top: 13% !important;
        display: flex !important;
        position: absolute;
        padding-left: 0% !important;
        transition: 0.6s ease;
    }

    .logo_list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 3px;
        transition: 0.6s ease;
    }

    .leftnav {
        display: flex;
        justify-content: flex-start !important;
        align-items: center;
        width: 50%;
        padding-top: 10px;
        padding-left: 1%;
        transition: 0.6s ease;
    }

    .leftnav nav ul {
        padding-left: 7%;
    }

    .rightnav {
        display: flex;
        justify-content: flex-end !important;
        align-items: center;
        width: 50%;
        padding-top: 10px;
        padding-right: 1%;
        transition: 0.6s ease;
    }

    .logo_list ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        list-style: none;
        transition: 0.6s ease;
    }

    .rightnav ul li a {
        color: white;
        text-decoration: none;
        display: flex;
        padding-right: 10px;
        transition: 0.6s ease;
        position: relative;
    }

    .leftnav ul li a {
        color: white;
        text-decoration: none;
        display: flex;
        padding-left: 10px;
        transition: 0.6s ease;
        position: relative;
    }

    .logo_list ul li a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: white;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: bottom right;
    }

    .logo_list ul li a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .logo_list ul li a:hover {
        color: white;
    }

    .logo_list ul li a:hover::after {
        color: white;
        text-decoration: none;
        transition: 0.6s ease;
    }
}

@media screen and (max-width: 430px) {
    .Header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 8vh;
        z-index: 10;
        background-color: rgb(0, 0, 0) !important;
        padding: 0 10px;
    }

    .logo {
        display: none; 
    }

    .logo_list {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .leftnav, .rightnav {
        display: flex;
        justify-content: space-around; 
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .leftnav nav, .rightnav nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .leftnav nav ul, .rightnav nav ul {
        display: flex;
        justify-content: space-around; 
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        
    }

    .leftnav ul li, .rightnav ul li {
        padding: 0;
        margin: 0;
        width: auto;
    }

    .leftnav ul li a, .rightnav ul li a {
        padding: 0;
        margin: 0;
        width: auto;
        font-size: 12px;
    }

    .logo_list ul li a {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        position: relative;
    }

    .logo_list ul li a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: white;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: bottom right;
    }

    .logo_list ul li a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .logo_list ul li a:hover {
        color: white;
    }

    .logo_list ul li a:hover::after {
        color: white;
        text-decoration: none;
        transition: 0.6s ease;
    }
}
