.imageViewerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mainImage {
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .thumbnailContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow-x: auto;
    max-width: 600px;
  }
  
  .thumbnailWrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
  }
  
  .thumbnailImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .mainImage {
    width: 100vw;
    height: 400px;
  }
  
  .thumbnailContainer {
    max-width: 400px;
  }
  
  .thumbnailWrapper {
    width: 80px;
    height: 80px;
  }
  
  .thumbnailImage {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .mainImage {
    width: 96vw;
    height: 400px;
  }

  .imageViewerContainer {
    flex-direction: column;
  }
  
  .thumbnailContainer {
    max-width: 400px;
  }
  
  .thumbnailWrapper {
    width: 80px;
    height: 80px;
  }
  
  .thumbnailImage {
    width: 100%;
    height: 100%;
  }
}

  