.whole_slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.htext {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 35%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: white;
}

.text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    font-size: 18px;
    color: white;
    white-space: pre-line;
}